page-emergency {

    .page-body{
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        background-image: linear-gradient(-45deg, #4481eb 20%, #04befe 50%);
    }

    .header{
        width: 100%;
        height: 150px;
        padding: 10px;
        background-image: linear-gradient(-45deg, #4481eb 20%, #04befe 50%);

        .sos-content{
            display: inline-flex;
        }

        .outer-circle{
            background-color: #ff000029;
            width: 110px;
            height: 110px;
            padding: 5px;
            border-radius: 50%;
            box-shadow: 0px 0px 8px 0 #ff000029, 0px 0px 8px 0 #ff000029;
        }

        .sos-button{
            width: 100px;
            background-color: #f42e5bed;
            height: 100px;
            border-radius: 50%;
            text-align: center;
            padding-top: 25%;

            h3{
                margin: 0;
            }

            .sos-des{
                color: white;
                font-weight: 500;
                font-size: 15px
            }
        }

        .sos-head-txt{
            font-size: 20px;
            color: white;
            font-weight: 600;
        }
    }

    .page-content{
        overflow-y: auto;
        height: 470px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #emergency{
        background-color: rgba(216, 216, 216, 0.726);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
    }

    #emergency:hover{
        opacity: 1.0;
    }


    .my-container {
        position: relative;
        overflow: hidden;
    }
    .my-container:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIGhlaWdodD0iMzIiIG92ZXJmbG93PSJ2aXNpYmxlIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGc+PGcgaWQ9IkVtZXJnZW5jeV8xXyI+PGcgaWQ9IkVtZXJnZW5jeSI+PGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgZmlsbD0iI0U2RTZFNiIgaWQ9IkVtYmxlbSIgcj0iMTYiLz48cG9seWdvbiBmaWxsPSIjRUYzNTM1IiBpZD0iUGx1c19TeW1ib2wiIHBvaW50cz0iMjYsMTQgMTgsMTQgMTgsNiAxNCw2IDE0LDE0IDYsMTQgNiwxOCAxNCwxOCAxNCwyNiAxOCwyNiAgICAgICAgIDE4LDE4IDI2LDE4ICIvPjwvZz48L2c+PC9nPjwvc3ZnPg==');
        background-repeat: no-repeat;
        background-size:100% 100%;
    }
    .my-container table {
        font-weight: bold;
        z-index: 2;
        position: relative;
    } 

    .btn{
        // border-radius: 20px;
        // background-color: rgb(216, 216, 216);
        // color: rgb(168, 154, 154);
        position: relative;
        right: -10px;
        // padding-top: 2px;
        margin-top: 20px;
        margin-right: 10px;
        // background: #c6ffff;
        // box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.32);
        // box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.09);
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
    }

    .btn:hover{
        background-color: white;
    }

    .emergency-card {
        box-sizing: border-box;
        background: #c4ebf7;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 15px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        // box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        min-height: 60px;
        // display: flex;

        .call-no{
            padding-top: 20px;
            text-align: left;
            margin: auto;
            padding-left: 10px;
            font-weight: 600;
            font-size: larger;
            padding-bottom: 5px;
        }

        .call-name {
            margin-top: 20px;
            // margin-bottom: 20px;
            margin-left: 12px;
            font-size: 15px;
            width: 74.5%;
            text-align: left;
            font-weight: 500;
        }

        
        .call-des {
            // margin-top: 10px;
            // margin-bottom: 10px;
            margin-left: 12px;
            // font-size: larger;
            // width: 60%;
            text-align: left;
        }

        .call-time{
            font-style: italic;
            color: grey;
        }
    }
    
}
