// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



::-webkit-scrollbar {
  display: none;
}

*{
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.toolbar-background {
  background: linear-gradient(180deg, #009fe0, #dcf2fb);
  // background: linear-gradient(100deg, #35b7ec, #b9ebff);
}


.container-margin{
    margin-top: 30px;
}

.new-background {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-radius {
    border-radius: 10px;
}

.logo-img {
    height: 70px;
    width: 70px;
    background-color: white;
}

.bgimg{
    // background-color: #00b7ff;
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    // background: linear-gradient(104deg, deepskyblue, lightcyan);
    background: #f0f0f0;
  }

  .page-body {
    margin-bottom: 20px;
    margin-top: 20px;

    .padding-body {
        padding: 16px;
    }
  }

  .input-username {
        // position: absolute;
        width: 90%;
        height: 45px;
        // left: 35px;
        // top: 260px;
        text-align: left;
        // padding-top: 11px;
        // padding-left: 12px;
        margin: auto;
        //margin: 12px;
        

        background: #FAFAFA;
        // box-shadow: 0px 7px 38px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
        border-radius: 10px;

        //font css
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height, or 100% */

        // text-align: center;
        letter-spacing: 1px;

        color: rgba(130, 130, 130, 0.8);
      }

      .input-password {
        display: flex;
        // position: absolute;
        width: 90%;
        height: 45px;
        // padding-top: 7.5px;
        // padding-left: 12px;
        margin: auto;

        background: #FAFAFA;
        // box-shadow: 0px 7px 38px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
        border-radius: 10px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height, or 100% */

        text-align: left;
        letter-spacing: 1px;

        color: rgba(130, 130, 130, 0.8);
        
        // button {
        //   padding-bottom: 10px;
        // }
      }
      

      .btn-login {
        // position: absolute;
        width: 80%;
        height: 45px;
        // left: 35px;
        // top: 438px;
        margin-top: 30px;
        box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        // width: 100%;
        margin: auto;

        background: #56bbff;
        border-radius: 15px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height, or 100% */

        text-align: center;
        letter-spacing: 1px;

        color: #FFFFFF;
      }

      .btn-signup {
        // position: absolute;
        width: 80%;
        height: 45px;
        // left: 35px;
        // top: 510px;
        margin-top: 30px;
        box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        // width: 100%;
        margin: auto;

        background: #FFFFFF;
        border: 1px solid #82CDFF;
        box-sizing: border-box;
        border-radius: 15px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height, or 100% */

        text-align: center;
        letter-spacing: 1px;

        color: #56CCF2;
      }

      .margin-top-username {
        margin-top: 90px;
        text-align: center;
      }

      .margin-top-middle {
        margin-top: 20px;
        text-align: center;
      }

      .margin-top-button {
        margin-top: 60px;
        text-align: center;
      }

      
      // input{
      //   background: transparent;
      //   border: none;
      // }

           
    .select-button {
      background: transparent;
      // box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.32);
  }

  
  .elem {
    text-align: right;
    margin-right: 15px;
}
.elem button{
    margin-top: 3px;
    background: rgba(156, 156, 156, 0);
    border-radius: 25px;
    color: black;
}

.toolbar-title-md{
  color: black;
}

//Loading icon
.nav-radius{
  position: absolute;
  right: 0px;
  background: linear-gradient(180deg, #dcf2fb, transparent);
  height: 40px;
  width: 100%;
}

.nav-curve{
  position: absolute;
  right: 0px;
  background: transparent;
  border-top-right-radius: 40px;
  height: 38px;
  width: 100%;
  border-top-left-radius: 40px;
}

.loader_bg{
  position:fixed;
  z-index:9999999;
  background:#fff;
  width:100%;
  height:100%;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(45vh - 75px);
  left: calc(50.5vw - 75px);
}
.loading{
  font-size:40px;
  position:absolute;
  top: calc(62vh - 75px);
  left: calc(52vw - 75px);
}
.loader:before, .loader:after{
  content:'';
  border: 1em solid #33a5ff;
  border-radius: 50%;
  width:inherit;
  height:inherit;
  position:absolute;
  top:0;
  left:0;
  animation: loader 2s linear infinite;
  opacity:0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
    transform:scale(0);
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    transform:scale(1);
    opacity:0;
  }
}
