page-home {
    .button_div{
        display: flex;
        //flex-direction: row;
        flex-wrap: wrap;
      }
      .button_div>div{
        width: 45%;
      margin: 5px;
      }

      .signup{
          width:50%;
      }

      .waiting{
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -50px;
          margin-left: -50px;
          width: 100px;
          height: 100px;
          background-color: rgba(255, 255, 255, 0.747);
          border-radius: 20px;
      
      }

      .waitmsg{
        padding-left: 13px;
        padding-top: 25px;
      }

      .container
      {
          background-color: white;
          padding: 15px;
          border-radius: 10px;
      }

      .login-logo {
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      

      

}
