page-home {
    .button_div{
        display: flex;
        //flex-direction: row;
        flex-wrap: wrap;
      }
      .button_div>div{
        width: 45%;
      margin: 5px;
      }

      .signup{
          width:50%;
      }

      .waiting{
          // position: absolute;
          // top: 50%;
          // left: 50%;
          margin: auto;
          margin-top: 200px;
          // margin-left: -50px;
          width: 150px;
          height: 150px;
          background-color: lightskyblue;
          border-radius: 20px;
          text-align: center;
          padding-top: 20px;
          font-size: large;
          box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.32);      
      }

      .waitmsg{
        padding-left: 13px;
        padding-top: 25px;
      }

      .container
      {
          background-color: white;
          padding: 15px;
          border-radius: 10px;
      }

      .login-logo {
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .logo {
        margin-top: 25px;
      }

}

.svg-background
{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-form
{
  background-color: white;
  padding: 65px 5px 65px 5px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 5px 9px 2px rgba(28,28,28,0.63);
  -moz-box-shadow: 0px 5px 9px 2px rgba(28,28,28,0.63);
  box-shadow: 0px 5px 9px 2px rgba(28,28,28,0.63);
}

/* .login-content
{
  background: rgb(223, 242, 253); height: 96%; 
  border-top-left-radius: 35px; 
  border-top-right-radius: 35px;
} */
