page-home {
    .button_div{
        display: flex;
        //flex-direction: row;
        flex-wrap: wrap;
      }
      .button_div>div{
        width: 45%;
      margin: 5px;
      }

      .signup{
          width:50%;
      }

}
