<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="new-background">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="" padding>
  <!-- <div>
    <table style="margin:auto; width: 100%;">
      <tr>
        <td>
            <div class="card" (click)="login()">
              <img style="width: 100px; height: 100px;margin-left: 20px;" src="../../assets/imgs/chat.png">
              <p>Chat</p>
          </div>
            
              
        </td>
        <td>
            <div class="card">
                <img style="width: 100px; height: 100px;margin-left: 20px;" src="../../assets/imgs/therapist.png">
                <p>Doctors</p>
            </div>
        </td>
      </tr>
        
      <tr>
        <td>
            <div class="card" [navPush]="emergencypg">
                <img style="width: 100px; height: 100px;margin-left: 20px;" src="../../assets/imgs/warning.png">
                <p>Emergency Contact</p>
            </div>
        </td>
        
        <td>
            <div class="card">
              <img style="width: 100px; height: 100px;margin-left: 20px;" src="../../assets/imgs/awareness.png">
              <p>Awareness</p>
            </div>
        </td>
        
      </tr>
    </table>
  </div> -->

  <div class="page-body">
    <div class="body-content">
      <!-- recent chat start -->
      <div>
        <div class="recent-bar">
          <div *ngIf="volsDetails != null" class="recent"><strong>Recent Chats</strong></div>
          <div class="avatar-icon">
            <div class="vol" *ngFor="let volDetails of volsDetails">
              <div (click)="chat(volDetails.volID)">
                <img class="avatar" [src]="volDetails.image != null  ? volDetails.image : defaultImage" alt="">
              <p>{{volDetails.username}}</p>
              </div>
              
            </div>
            <!-- <ul>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
              <li><img class="avatar" src="../../assets/imgs/chat.png"><p>Anthony</p></li>
            </ul>-->
          </div> 
        </div>
      </div>
      <!-- recent chat end -->

      <!-- quote card start -->
      <div class="row">
        <div class="quote-heading"><strong>Quote of the Day...</strong></div>
        <div class="quote-card">
          <p>"You are strong... Cherish your life"</p>
        </div>
      </div>
      <!-- quote card end -->

      <div style="margin-bottom: 30px;">
        <!-- chat card start -->
        <div class="row">
            <div class="parallel-card" style="background: skyblue;">
              <div class="display-flex" (click)="login()">
                <div>
                  <img src="../../assets/imgs/chat.png">
                </div>
                <p>CHAT</p>
              </div>
            </div>
        </div> 
        <!-- chat card end -->

        <div class="display-flex-card">
          <!-- emergency card start -->
          <div class="common-width" style="margin-right: 20px;">
            <div class="card" style="background: #ff0000a1;">
              <div class="" [navPush]="emergencypg">
                <div class="center-align">
                  <img src="../../assets/imgs/warning.png">
                </div>
                <p>EMERGENCY <br> CONTACTS</p>
              </div>
            </div>
          </div> 
          <!-- emergency card end -->

          <!-- professional card start -->
          <div class="common-width">
            <div class="card" style="background: violet;">
              <div class="">
                <div class="center-align">
                  <img src="../../assets/imgs/therapist.png">
                </div>
                <p>PROFESSIONAL <br> CONTACT</p>
              </div>
            </div>
          </div> 
          <!-- professinal card end -->
        </div>

        <div class="display-flex-card">
          <!-- institute card start -->
          <div class="common-width" style="margin-right: 20px;">
            <div class="card" style="background: khaki;">
              <div class="">
                <div class="center-align">
                  <img src="../../assets/imgs/red-cross.png">
                </div>
                <p>INSTITUTES</p>
              </div>
            </div>
          </div> 
          <!-- institute card end -->

          <!-- awareness card start -->
          <div class="common-width">
            <div class="card" style="background: lightgreen;">
              <div class="">
                <div class="center-align">
                  <img src="../../assets/imgs/awareness.png">
                </div>
                <p>AWARENESS</p>
              </div>
            </div>
          </div> 
          <!-- awareness card end -->
        </div>
        
      </div>
    </div>
  </div>
       
</ion-content>
