page-menu {
    .lang{
        width: 45%;
        height: 25%;
    }

    .content
    {
        padding: 0px 50px 0px 50px;
        
    }

    .card
    {
        align-items: center;
        border-radius: 15px!important;
        width: 140px;
        height:170px;
        box-shadow: 13px 13px 9px -7px rgba(61,60,56,1);
        padding-top: 10px;
        background-color: #e6f5ff!important;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 30px;
        border-style: inset;
    }

    .row{
        padding-top: 50px;
    }

    p{
        text-align:center;
    }

}
