<ion-header no-border>

  <ion-navbar>
    <ion-title class="new-background" style="padding-right: 60px;">Sign Up</ion-title>
  </ion-navbar>
  <div>
    <div class="nav-radius">
      
    </div>
    <div class="nav-curve">
    </div>
  </div>
</ion-header>


<!-- <ion-content style="background:linear-gradient(104deg, deepskyblue, lightcyan);">
  <div *ngIf="notclicked" class= "signupbox">
    <ion-list>
      <ion-label text-center style="padding-top: 10px; font-size: 20px;">
        <b>Personal Details</b>
      </ion-label>
  
      <ion-item>
        <ion-label>Mobile No</ion-label>
        <ion-input type="number" [(ngModel)]="userMobile" (ngModelChange)="change($event)"></ion-input>
      </ion-item>
  
  
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" [(ngModel)]="userName"></ion-input>
      </ion-item>
  
  
  
      <ion-item>
        <ion-label style="font-size: 14px;">Password</ion-label>
        <ion-input type="password" [(ngModel)]="userPassword"></ion-input>
        
      </ion-item>
      <div style="background-color: white;padding-top: 5px;padding-bottom: 10px;">
        <ng2-password-strength-bar text-center 
        [passwordToCheck]="userPassword"
        [barLabel]="barLabel"
        [barColors]="myColors">
</ng2-password-strength-bar>
      </div>
      

      

      <div text-center>
        <button ion-button (click)="signup()">Sign Up</button>

      </div>
  
  
      </ion-list>
  </div>
  

    <div *ngIf="clicked" class="waiting">
      <div class="waitmsg">
  
          <p>Logging in...</p>
      </div>
      
    </div>
</ion-content> -->
<ion-content style="padding: 16px;">
  <div *ngIf="notclicked" class= "signupbox">
    <div class="page-body" style="padding-left: 16px; padding-right: 16px;">
      <div class="body-content">
    
        <!--heading start-->
        <div class="heading">
          <div class="">
            <div>Create an Account</div>
          </div>
        </div>
        <!--heading end-->
    
        <!--input field start-->
        <div>
          <div class="margin-top-username">
            <div class="input-username">
              <ion-input type="text" name="username" placeholder="Username" [(ngModel)]="userName"></ion-input>
            </div>
          </div>
          <div class="margin-top-middle">
            <div class="input-username">
              <ion-input type="text" [(ngModel)]="userMobile" name="moblie" placeholder="Email"></ion-input>
              <!-- <ion-input type="email" name="email" placeholder="Email"></ion-input> -->

            </div>
          </div>
          <div class="margin-top-middle">
            <div class="input-password">
              <ion-input [type]="getType()" name="password" placeholder="Password" [(ngModel)]="userPassword"></ion-input>
              <i><button style="font-size: 1.8rem;" ion-button clear color="dark" type="button" item-right
                (click)="isActive = !isActive;"
                isActive=true>
                <ion-icon
                [name]="isActive ? 'eye' : 'eye-off'">
                </ion-icon>
                </button></i>
            </div>
            
          </div>
          <div class="margin-top-middle">
            <div class="input-password">
              <ion-input type="password" name="confirmpassword" [(ngModel)]="userPasswordCon" placeholder="Confirm Password"></ion-input>
            </div>
          </div>
          <div style="background-color: white;margin-top: 5px;padding-bottom: 10px;font-size: 20px;">
            <ng2-password-strength-bar text-center 
            [passwordToCheck]="userPassword"
            [barLabel]="barLabel"
            [barColors]="myColors">
            </ng2-password-strength-bar>
          </div>
        </div>
        <!--input field end-->
    
        <!--button start-->
        <div class="margin-top-button">
          <button class="btn-login" type="button" (click)="signup()">Sign Up</button>
        </div>
        <!--button end-->
      </div>
    </div>
  </div>
  <div *ngIf="clicked" class="waiting">
    <div class="waitmsg">

        <p>Please wait...</p>
    </div>
    
  </div>
    
</ion-content>


