<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:linear-gradient(104deg, deepskyblue, lightcyan);">
  <div *ngIf="notclicked" class= "signupbox">
    <ion-list>
      <ion-label text-center style="padding-top: 10px; font-size: 20px;">
        <b>Personal Details</b>
      </ion-label>
  
      <ion-item>
        <ion-label>Mobile No</ion-label>
        <ion-input type="number" [(ngModel)]="userMobile" (ngModelChange)="change($event)"></ion-input>
      </ion-item>
  
  
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" [(ngModel)]="userName"></ion-input>
      </ion-item>
  
  
  
      <ion-item>
        <ion-label style="font-size: 14px;">Password</ion-label>
        <ion-input type="password" [(ngModel)]="userPassword"></ion-input>
        
      </ion-item>
      <div style="background-color: white;padding-top: 5px;padding-bottom: 10px;">
        <ng2-password-strength-bar text-center 
        [passwordToCheck]="userPassword"
        [barLabel]="barLabel"
        [barColors]="myColors">
</ng2-password-strength-bar>
      </div>
      

      

      <div text-center>
        <button ion-button (click)="signup()">Sign Up</button>

      </div>
  
  
      </ion-list>
  </div>
  

    <div *ngIf="clicked" class="waiting">
      <div class="waitmsg">
  
          <p>Logging in...</p>
      </div>
      
    </div>
</ion-content>


