page-client-chats {
    .vol{
        padding: 5px 10px;
        background: rgba(156, 156, 156, 0.36);
        margin:5px;
        color: black;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 75% 25%;

    }

    .elem button{
        margin: 0;
        background: rgba(156, 156, 156, 0);
        border-radius: 25px;
        color: black;
    
    }

    div#footer div.elem:first-child{
        flex-grow: 1;

    }

    div#footer{
        display: flex;
        flex-direction: row;
    }

    .left{
        grid-column: 1;
    }

    .right{
        grid-column: 2;

    }

    .vol {
        display: grid;
        grid-template-columns: 75% 25%;
      }

    .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }
    .msg-detail {
        width: 100%;
        padding-left: 60px;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: 1.1em;
            color: rgb(128, 128, 128);
            font-weight: bold;
          }
        }

        .username{
            font-weight: bold;
        }
    }

}
