page-client-chats {
    .vol{
        // padding: 5px 10px;
        // background: white;
        // margin:5px;
        // color: black;
        // // border-radius: 25px;
        // display: flex;
        // padding-bottom: 7px;

        padding: 12px 10px;
        background: white;
        margin: 5px;
        color: black;
        border-radius: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 7px;

        .left {
            flex: 3;
          }
          .right {
              flex: 1;
              align-content: center;
          }


    }

    .wave{
        width: 36px;
        height: 36px;
        margin-top: 7px;
    }

    

    div#footer div.elem:first-child{
        flex-grow: 1;

    }

    div#footer{
        display: flex;
        flex-direction: row;
    }

    .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }
    .msg-detail {
        width: 100%;
        padding-left: 60px;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: 1.1em;
            color: rgb(128, 128, 128);
            font-weight: bold;
          }
        }

        .username{
            font-weight: bold;
        }
    }

    .scroll-content{
        margin-bottom: 70px;
      }
}
