page-client-chats {
  .page-body{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(-45deg, #4481eb 20%, #04befe 50%);
}

.header{
    width: 100%;
    height: 200px;
    padding: 10px;
    background-image: linear-gradient(-45deg, #4481eb 20%, #04befe 50%);

    .sos-content{
        display: inline-flex;
    }
    .outer-circle{
        background-color: #ff000029;
        width: 110px;
        height: 110px;
        padding: 5px;
        border-radius: 50%;
        box-shadow: 0px 0px 8px 0 #ff000029, 0px 0px 8px 0 #ff000029;
    }
    .sos-button{
        width: 100px;
        background-color: #f42e5bed;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        padding-top: 25%;

        h3{
            margin: 0;
        }

        .sos-des{
            color: white;
            font-weight: 500;
            font-size: 15px
        }
    }

    .sos-head-txt{
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
}

.page-content{
    overflow-y: auto;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



    .vol{
        // padding: 5px 10px;
        // background: white;
        // margin:5px;
        // color: black;
        // // border-radius: 25px;
        // display: flex;
        // padding-bottom: 7px;

        padding: 12px 10px;
        background: white;
        margin: 5px;
        color: black;
        border-radius: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 7px;

        .left {
            flex: 3;
            // max-width: 80%;
          }
          .right {
              flex: 1;
              align-content: center;
          }


    }

    .wave{
        width: 36px;
        height: 36px;
        margin-top: 7px;
    }

    

    div#footer div.elem:first-child{
        flex-grow: 1;

    }

    div#footer{
        display: flex;
        flex-direction: row;
    }

    .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }
    .msg-detail {
        width: 100%;
        padding-left: 60px;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: 1.1em;
            color: rgb(128, 128, 128);
            font-weight: bold;
          }
        }

        .username{
            font-weight: bold;
        }
    }

    .scroll-content{
        margin-bottom: 58px;
      }

      .message{
        white-space: nowrap; 
        width: 100px; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }
}
