page-edit-profile {

    .user-img {
        border-radius: 45px;
        width: 100px;
        height: 100px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }

    .scroll-content{
        margin-bottom: 80px;
    }

    .item{
        background: #9ad0ff00;
    }
}
