page-clients {
    .client{
        box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.6);
        padding: 5px 10px;
        background: white;
        margin:5px;
        color: black;
        border-radius: 25px;
        display: flex;
        padding-bottom: 7px;
        .left {
            flex: 3;
          }
          .right {
              flex: 1;
              align-content: center;
          }

    }

    .username{
        font-weight: bold;
        font-size: 120%;

    }

    .message{
        font-size: 80%;
    }

    .elem {
        text-align: right;
        margin-right: 15px;
    }
    .elem button{
        margin-top: 3px;
        background: rgba(156, 156, 156, 0);
        border-radius: 25px;
        color: black;
        
    
    }
    
    .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }
    .msg-detail {
        width: 100%;
        padding-left: 60px;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: 1.1em;
            color: rgb(128, 128, 128);
            font-weight: bold;
          }
        }

        .username{
            font-weight: bold;
        }
    }
         
    .select-button {
        background: transparent;
        box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.32);
    }


}
