page-chat {
    .bgimg{
        background-color: white;
      }
      
    .input-wrap {
        background: #d3d3d37a;
        padding: 5px;
        display: flex;

        textarea {
          height: 38px;
          padding-top: 9px;
          border-radius: 20px;
          padding-left: 16px;
          border: none;
          margin-top: 3px;
          font-size: initial;
          flex: 3.5;
          // border: 0;
          // border-bottom: 1px #000;
          // border-style: solid;
          background: white;
        }
        button {
            flex: 0.5;
        }
    }
    ion-footer {
        box-shadow: 0px 0px 9px rgb(0, 0, 0);
        background-color: #fff;
    }
    ion-content .scroll-content {
      background-color: white;
    }
    .line-breaker {
        white-space: pre-line;
        font-size: 120%;
    }
    .container {
    
      .message {
        // box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.44);
        // width: 90%;
        // margin-right: 10%;
        // border-radius: 10px;
        // margin-top: 10px;
        // position: relative;
        // padding: 7px 7px;
        // background-color: rgba(235, 235, 235, 0.815);
        // padding-bottom: 12px;
        // word-break: break-all;
        // position: relative;

        color: black;
        // background: linear-gradient(to bottom, #00D0EA 0%, #0373d8 100%);
        background-color: rgb(222, 222, 222);
        background-attachment: fixed;
        position: relative;
        border-radius: 12px;
        margin-bottom: 6px;
        min-height: 55px;
        margin-right: 40px;
        padding-top: 5px;
        padding-left: 12px;
    
    
        .msg-content {
            color: #343434;
            float: left;       
        }
        .user-img {
            position: absolute;
            border-radius: 45px;
            width: 45px;
            height: 45px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        }
        .msg-detail {
            width: 100%;
            padding-left: 60px;
            display: inline-block;
            p {
              margin: 0;
            }
            .msg-info {
              p {
                font-size: 1.1em;
                color: rgb(128, 128, 128);
                font-weight: bold;
              }
            }
        }
      }

      .message:after {
        content: "";
        // width: 0px;
        // height: 0px;
        // position: absolute;
        // border-left: 10px solid transparent;
        // border-right: 10px solid #00bfb6;
        // border-top: 10px solid #00bfb6;
        // border-bottom: 10px solid transparent;
        // left: -19px;
        // top: 6px;

        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: -10px;
        width: 10px;
        height: 20px;
        background: #ffffff;
        border-bottom-right-radius: 10px;
      }

      .message:before {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: -7px;
        height: 20px;
        width: 20px;
        background: rgb(222, 222, 222);
        border-bottom-right-radius: 15px;
    }
    }

    .msg-content-2nd {
      color: #343434;      
    }
    .user-img-2nd {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        float: right;
    }
    .msg-detail-2nd {
        width: 85%;
        padding-right: 12px;
        // padding-left: 60px;
        display: inline-block;
        p {
          text-align: right;
          margin: 0;
        }
        .msg-info-2nd {
          p {
            text-align: right;
            font-size: 1.1em;
            color: rgb(128, 128, 128);
            font-weight: bold;
          }
        }
  }

  .message-2nd {
    // box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.44);
    // border-radius: 10px;
    // margin-top: 10px;
    // position: relative;
    // padding: 7px 7px;
    // background-color: lightskyblue;
    // padding-bottom: 12px;
    // word-break: break-all;
    // width: 90%;
    // margin-left: 10%;
    // padding-right: 15px;
    // position: relative;

    color: black;
    background: linear-gradient(to bottom, #00D0EA 0%, #0373d8 100%);
    background-attachment: fixed;
    position: relative;
    border-radius: 12px;
    margin-bottom: 6px;
    min-height: 55px;
    margin-left: 40px;
    padding-top: 5px;
    // padding-right: 12px;
  }

  // .message-2nd::after {
  //   content: "";
  //   width: 0px;
  //   height: 0px;
  //   position: absolute;
  //   border-left: 10px solid #00bfb6;
  //   border-right: 10px solid transparent;
  //   border-top: 10px solid #00bfb6;
  //   border-bottom: 10px solid transparent;
  //   right: -19px;
  //   top: 6px;
  // }

  .message-2nd:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0373d8 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }

  .message-2nd:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: #ffffff;
    border-bottom-left-radius: 10px;
}

}
 

 // src/app/private-chat/private-chat.page.scss

 