page-scale {
    .scale-form {
        background:#dfecf7;
        padding: 10px;
    }
    
    .form-button{
        margin-top: 50px;
        text-align: right;
    }
    
    .radio-buttons{
        line-height: 24px;
        margin: 15px;
        font-size: 15px;
        font-weight: 500;
    }
    
    label {
        font-size: 15px;
        font-weight: 500;
    }
}
