<!--
  Generated template for the VolunteersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header no-border>
  <ion-navbar>
    <ion-title class="new-background">Choose Your Friend</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)='profile()'>
        <ion-icon name='person'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button icon-only [navPush]="menuPage">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div>
    <div class="nav-radius">
      
    </div>
    <div class="nav-curve">
    </div>
  </div>
</ion-header> -->

<ion-content>
  <div class="container">
    <div style="position: absolute; top: 80px; padding: 10px; color: white;">
      <h3>Welcome Name !</h3>
      <div>Choose a Companion to start Chatting</div>
    </div>

    <div class="card">
        
        <div class="content">
          <div class="volunteerList" style="margin-top: 23px; width: 100%; ">
            <div class="volunteer" *ngFor="let volunteer of volunteers" (click)="chat(volunteer.userid)" >
              
              <div class="left">
                <div>
                  <img class="user-img" style="margin-top: 10px;" [src]="volunteer.image != null  ? volunteer.image : defaultImage" alt="">
        
                  
                  
                    <div class="msg-detail">
        
                        <div class="username">{{volunteer.username}}</div>
                        <div class="message">Sinhala</div>
                        <!-- <div class="message">Gender: {{volunteer.gender}}</div> -->
                        <div *ngIf="volunteer.loginFlag == true">
                          <img class="status-img" style="height: 11px; width: 11px;" src="../../assets/imgs/online-icon.png"/>
                        </div>
                        <div *ngIf="volunteer.loginFlag == false">
                          <img class="status-img" style="height: 11px; width: 11px;" src="../../assets/imgs/offline-icon.png"/>
                        </div>
                        <div class="fa fa-circle"></div>
                    </div>
                        
                </div>
                
              </div>  
              <div class="right-icon">
                <div class ="elem" style="margin-top: 10px;"><img class="wave" src = "../../assets/imgs/hand_wave.png"/></div>
              </div>
            </div>
            
          </div>
        </div>
    </div>
  </div>
</ion-content>
