
page-volunteers {

    .volunteer{
        // box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.6);
        // box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        background: white;
        margin:5px;
        color: black;
        border-radius: 10px;
        display: flex;
        padding-bottom: 7px;
        .left {
            flex: 3;
          }
          .right {
              flex: 1;
              align-content: center;
          }

    }

    div#footer div.elem:first-child{
        flex-grow: 1;

    }

    .wave{
        width: 36px;
        height: 36px;
        margin-top: 2px;
        margin-left: 30px;
    }
    
    .input-wrap {
        padding: 5px;
        display: flex;
        
    }
/*     .left{
        grid-column: 1;
    }

    .right{
        grid-column: 2;

    } */

    .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        // margin-top: 4px;
    }
    .msg-detail {
        width: 100%;
        padding-left: 60px;
        display: inline-block;
        margin-top: 8px;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: 1.1em;
            color: rgb(128, 128, 128);
            font-weight: bold;
          }
        }

        .username{
            font-weight: bold;
        }
    }

    
    .scroll-content{
        margin-bottom: 70px;
    }


}
